<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orhonit.ole.tts.dao.YujDao">
	
	<!-- 预警列表查询app-->
	<select id="appList" resultType="com.orhonit.ole.tts.dto.YujDTO">
		SELECT  ec.id as id,
				ec.star AS star,
				ec.create_date createDate,
				ec.create_name createName,
				ec.content AS content,
				ec.record_title AS recordTitle,
				wp.dept_id AS deptId,
				sd.enum_desc AS isDeal,
				dp.name AS deptName,
				sd1.enum_desc AS level,
				sd3.enum_desc AS warnType,
				sd4.enum_desc AS flowType,
				sd5.enum_desc AS recordStatus,
				sd2.enum_desc AS type
		FROM ole_warn_info ec
		LEFT JOIN ole_warn_person wp ON wp.warn_id=ec.id
		LEFT JOIN ole_base_dept dp ON wp.dept_id=dp.id
		LEFT JOIN ole_sys_dict sd1 ON sd1.enum_value = ec.level AND sd1.type_value = '1900'
		LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = ec.type AND sd2.type_value = '2020'
		LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = ec.warn_type AND sd3.type_value ='2051'
		LEFT JOIN ole_sys_dict sd4 ON sd4.enum_value = ec.flow_type AND sd4.type_value = '1802'
		LEFT JOIN ole_sys_dict sd ON sd.enum_value = wp.is_deal AND sd.type_value ='2056'
		LEFT JOIN ole_sys_dict sd5 ON sd5.enum_value = ec.record_status AND 
		(sd5.type_value ='1500' or sd5.type_value ='1501')
		<where>
			1=1
			<if test="params.star != null and params.star != ''">
				and ec.star = #{params.star}
			</if>
			<if test="params.id != null and params.id != ''">
				and ec.id like concat('%', #{params.id}, '%')
			</if>
			<if test="params.content != null and params.content != ''">
				and ec.content like concat('%', #{params.content}, '%')
			</if>
			<if test="params.pid != null and params.pid !=''">
				and wp.person_id = #{params.pid}
			</if>
			<if test="params.deptIds != null and params.deptIds != ''">
				and FIND_IN_SET (wp.dept_id ,#{params.deptIds})
			</if>
			<if test="params.deptId != null and params.deptId !=''">
				and wp.dept_id = #{params.deptId}
			</if>
			<if test="params.deal != null and params.deal !=''">
				and wp.is_deal = #{params.deal}
			</if>
			<if test="params.level != null and params.level !=''">
				and ec.level = #{params.level}
			</if>	
			<if test="params.warnType != null and params.warnType !=''">
				and ec.warn_type = #{params.warnType}
			</if>			
			<if test="params.queryDate == 1 ">
				AND  date(ec.create_date) = curdate()
			</if>
			<if test="params.queryDate == 2 ">
				AND  date_sub(curdate(), INTERVAL 7 DAY) &lt;= date(ec.create_date)		
			</if>
			<if test="params.queryDate == 3 ">
				AND  date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(ec.create_date)			
			</if>
			<if test="params.queryDate == 4 ">
				AND  date_sub(curdate(), INTERVAL 180 DAY) &lt;= date(ec.create_date)			
			</if>
			<if test="params.queryDate == 5 ">
				AND  date_sub(curdate(), INTERVAL 365 DAY) &lt;= date(ec.create_date)	
			</if>
			<if test="params.caseName != null and params.caseName !=''">
				AND  ec.record_title like concat('%', #{params.caseName}, '%')
			</if>
			group by ec.id
			order by ec.create_date desc
			<if test="start != null and length !=null">
				limit #{start}, #{length};
			</if>
		</where>
	</select>
	
	<select id="YuJcount" resultType="int">
		SELECT 
			count(ec.id)
		FROM
			ole_warn_info ec
		WHERE ec.id in (select wp.warn_id from ole_warn_person wp 

    		<where>
    			1=1
	    		<if test="params.id != null and params.id != ''">
					and ec.id like concat('%', #{params.id}, '%')
				</if>
    			<if test="params.pid != null and params.pid !=''">
					and wp.person_id = #{params.pid}
				</if>	    		
	    		<if test="params.deal != null and params.deal !=''">
					and wp.is_deal = #{params.deal}
				</if>
				<if test="params.content != null and params.content != ''">
					and ec.content like concat('%', #{params.content}, '%')
				</if>
				<if test="params.deptId != null and params.deptId !=''">
					and wp.dept_id = #{params.deptId}
				</if>
			)
    		</where> 
    							
	</select>
	
	<!-- 获取预警情 -->
	<select id="getWarnInfoByWarnId" resultType="com.orhonit.ole.tts.dto.YujDTO">
		SELECT  ec.id as id,
				sd1.enum_desc AS level,
				ec.content AS content,	
				ec.record_id AS recordId,
				ec.record_code AS recordCode,
				ec.record_title AS recordTitle,
				sd2.enum_desc AS recordStatus,
				sd4.enum_desc AS type,
				ec.task_id AS task_id,
				sd.enum_desc AS warnType,
				ec.star AS star,
				ec.create_date createDate,
				ec.create_name AS createName,
				ec.create_by AS createBy,
				ec.update_name AS updateName,
				ec.update_by AS updateBy,
				ec.update_date AS updateDate,
				sd3.enum_desc AS flowType
			FROM ole_warn_info ec
			LEFT JOIN ole_sys_dict sd1 ON sd1.enum_value = ec.level AND sd1.type_value = '1900'
			LEFT JOIN ole_sys_dict sd ON sd.enum_value = ec.warn_type AND sd.type_value ='2051'
			LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = ec.record_status AND 
			(sd2.type_value ='1500' or sd2.type_value ='1501')
			LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = ec.flow_type AND sd3.type_value ='1802'
			LEFT JOIN ole_sys_dict sd4 ON sd4.enum_value = ec.type AND sd4.type_value = '2020'	
		WHERE ec.id= #{warnId};
	</select>


	<select id="getWarnList" resultType="com.orhonit.ole.tts.dto.YujDTO">
		SELECT  ec.id as id,
				ec.star AS star,
				ec.create_date createDate,
				ec.create_name createName,
				ec.content AS content,
				ec.record_title AS recordTitle,
				wp.dept_id AS deptId,
				sd.enum_desc AS isDeal,
				dp.name AS deptName,
				sd1.enum_desc AS level,
				sd3.enum_desc AS warnType,
				sd4.enum_desc AS flowType,
				sd5.enum_desc AS recordStatus,
				sd2.enum_desc AS type
		FROM ole_warn_info ec
		LEFT JOIN ole_warn_person wp ON wp.warn_id=ec.id
		LEFT JOIN ole_base_dept dp ON wp.dept_id=dp.id
		LEFT JOIN ole_sys_dict sd1 ON sd1.enum_value = ec.level AND sd1.type_value = '1900'
		LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = ec.type AND sd2.type_value = '2020'
		LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = ec.warn_type AND sd3.type_value ='2051'
		LEFT JOIN ole_sys_dict sd4 ON sd4.enum_value = ec.flow_type AND sd4.type_value = '1802'
		LEFT JOIN ole_sys_dict sd ON sd.enum_value = wp.is_deal AND sd.type_value ='2056'
		LEFT JOIN ole_sys_dict sd5 ON sd5.enum_value = ec.record_status AND 
		(sd5.type_value ='1500' or sd5.type_value ='1501')	
		WHERE ec.record_id= #{caseId}
		GROUP By ec.id
		order by ec.create_date desc
	</select>

	<update id="warnDeal"  >
		UPDATE ole_warn_person 
		SET is_deal = #{isDeal} ,
			deal_result=#{dealResult},
			update_by=#{updateBy},
			update_name=#{updateName},
			update_date=#{updateDate}
		WHERE warn_id = #{warnId}
		AND person_id = #{personId} 
	</update>
	
	<update id="warnUpdate"  >
		UPDATE ole_warn_info 
		SET update_by=#{updateBy},
			update_name=#{updateName},
			update_date=#{updateDate}
		WHERE id = #{id}
		
	</update>
	
	<select id="getWarnListByCaseNum" resultType="com.orhonit.ole.tts.dto.YujDTO">
		SELECT 
			 ec.id as id
		FROM ole_warn_info ec
   		<where>
   				ec.record_code=#{caseNum}
   				and  ec.warn_type='3'
   				order by  ec.create_date desc 
   		</where>
	</select>

	<select id="getWarnPerson" resultType="com.orhonit.ole.tts.dto.YujPersonDTO">
		SELECT
			 wp.id,
	 		 wp.person_id as personId,
	    	 dp.name as personName,
			 wp.warn_id as warnId,
			 wp.deal_result as dealResult,
			 sd.enum_desc as isDeal,
			 wp.is_deal as deal, 
		 	 wp.is_major as isMajor,
			 wp.dept_id as deptId,
			 bd.name as deptName,
			 wp.create_date as createDate,
	 		 wp.create_name as createName,
			 wp.create_by as createBy, 
			 wp.update_date as updateDate, 
			 wp.update_name as updateName,
			 wp.update_by as updateBy 
		FROM ole_warn_person wp
		LEFT JOIN ole_base_dept bd ON bd.id = wp.dept_id
		LEFT JOIN ole_base_dept_person dp ON dp.id = wp.person_id
		LEFT JOIN ole_sys_dict sd ON sd.enum_value = wp.is_deal AND sd.type_value ='2056'
		<where>
			1=1
			<if test="params.warnId != null and params.warnId !=''">
				and wp.warn_id=#{params.warnId}
			</if>
			<if test="params.personId != null and params.personId !=''">
				and wp.person_id = #{params.personId}
			</if>
		</where> 
	</select>
	
	<select id="getWarnPersonCount" resultType="com.orhonit.ole.tts.dto.YujPersonCountDTO">
		SELECT 
			is_deal as deal,
			count(*) as count
		from ole_warn_person 
		where warn_id=#{warnId}
		GROUP BY is_deal
	</select>
</mapper>