@charset "utf-8";

body {
  font-family: "Microsoft YaHei";
  background:none;
  background-size: 100% auto;
}
ul,li {
  text-decoration: none;
  list-style: none;
}
.fl {
  float: left;
}
.fr{
  float: right;
}
.clearfix{
  clear: both;
}
.sparkline-box {
	margin: 0;
	padding: 0;
	margin-top: 10px
}

.sparkline-box.side .sparkline {
	margin-top: 5px
}

.sparkline-box.side .sparkline-row {
	padding: 0;
	float: none;
	border: none
}

.sparkline-box.side h4 {
	margin-right: 20px;
	min-width: 70px;
	text-shadow: none
}

.sparkline-box.side h4 span {
	color: inherit
}

.sparkline-box .sparkline {
	margin-top: 8px;
	display: inline-block;
	vertical-align: top;
	height: 30px
}

.sparkline-box .big {
	width: 83px;
	height: 30px
}

.sparkline-box .sparkline-row {
	*zoom: 1;
	text-align: center;
	padding: 0;
	padding-right: 15px;
	float: left;
	border-right: 1px dotted #aaa;
	border-left: 1px dotted #fff
}

.sparkline-box .sparkline-row:before,.sparkline-box .sparkline-row:after {
	display: table;
	content: "";
	line-height: 0
}

.sparkline-box .sparkline-row:after {
	clear: both
}

.sparkline-box .sparkline-row:last-child {
	border-right: none
}

.sparkline-box .sparkline-row:first-child {
	border-left: none
}

.sparkline-box h4 {
	display: inline-block;
	text-align: center;
	margin: 0;
	/*text-shadow: 0 1px rgba(255,255,255,0.5);*/
	min-width: 70px
}

.sparkline-box h4.red {
	color: #c75d5d
}

.sparkline-box h4.orange {
	color: #ff9f01
}

.sparkline-box h4.blue {
	color: #1800ff; 
}
.sparkline-box h4.lightBlue {
	color: #009aff; 
}
.sparkline-box h4.gray {
	color: #5384b3
}

.sparkline-box h4.green {
	color: #00d8ff
}

.sparkline-box h4.dark-green {
	color: #00aacf
}

.sparkline-box h4 span {
	color: #717e88;
	font-size: 12px;
	display: block;
	text-align: center;
	font-weight: 400
}

hr.divider, li.divider {
    border: 0;
    height: 1px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…Igd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);
    background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,rgba(205,205,205,0)),color-stop(50%,#002fff),color-stop(100%,rgba(205,205,205,0)));
    background: -webkit-linear-gradient(left,rgba(205,205,205,0),#002fff,rgba(205,205,205,0));
    background: -moz-linear-gradient(left,rgba(205,205,205,0),#002fff,rgba(205,205,205,0));
    background: -o-linear-gradient(left,rgba(205,205,205,0),#002fff,rgba(205,205,205,0));
    background: linear-gradient(left,rgba(205,205,205,0),#002fff,rgba(205,205,205,0));
    position: relative;
}
.main-content {
    border: 0.5px solid #04007e;
    position: relative;
}
.sparkline-box {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.sparkline-box .sparkline-row:first-child {
    border-left: none;
}
.sparkline-box.side .sparkline-row {
    padding: 0;
    float: none;
    border: none;
    text-align: center;
}
.h10 {
  height: 10vh;
}
.h20 {
  height: 20vh;
}
.h30 {
  height: 30vh;
}
.h40 {
	height: 40vh;
}
.h50 {
  height: 50vh;
}
.h60 {
	height: 60vh;
}
.box1 {
  padding: 0px;
  margin:0px;
}
.box2 {
  /* background: #00ffbb;*/
  padding: 0px;
}
.box3 {
  min-height: 200px;
  padding: 0px;
  border: 0.5px dashed #04007e;
}
.box4 {
  min-height: 300px;
  padding: 0px;
  border: 0.5px dashed #04007e;
}
.fl_box {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  padding: 0px;
}
.fl_box li {
  width: 50%;
  display: block;
  float: left;
}
.fl_box li a {
  width: 100%;
  line-height: 30px;
  display: block;
  text-align: center;
}
.fl_box li a:nth-child(1) {
  background: rgba(0,51,153,0.6);
}
.fl_box li a:nth-child(2) {
  background: rgba(0,51,204,0.6);
}
.fl_item {
  width: 50%;
  height:100px;
  background: white;
  background: rgba(0,51,153,0.6);
  color: #fff;
  /*text-shadow: 0 0 .1em,0 0 .3em;*/
  position: relative;
}
.fl_item:hover {
  -moz-box-shadow:3px 2px 5px #3399FF;
  -webkit-box-shadow:3px 2px 5px #3399FF;
  box-shadow:3px 2px 5px #3399FF;
  position: relative;
  top: -3px;
  right: -3px;
}
.fl_item_name {
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.fl_item_value {
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
  background: rgba(0,51,204,0.6);
}
.personnel{
  border-right: 0.5px dashed #04007e;
  border-bottom: 0.5px dashed #04007e;
  background: none;
}
@media (min-width: 992px){
	.main-content {
	    width: 90%;
	    margin: 0px auto;
	}
	.main-right {
	    position: relative;
	    margin-left: 151px;
	    padding-top: 30px;
	}
	.hidden-tablet {
	    width: 150px;
	    height: 100%;
	    float: left;
	    position: absolute;
	    border-right: 0.5px solid #04007e;
	}
}

