<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orhon.smartcampus.modules.base.mapper.SchoolsMapper">


    <select id="getSchoolByID" resultType="java.util.Map">
        select * from base_schools where id = #{id}
    </select>


</mapper>
