<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orhonit.ole.enforce.dao.CheckDailyDao">
<select id="getCheckcount" resultType="int">
  SELECT  count(*)FROM ole_ef_check_daily c
  LEFT JOIN ole_base_dept_person per ON per.ID= c.person_id
 	<where> 
	 	<if test="params.personId != null and params.personId != ''">
			and per.id = #{params.personId} 
		</if>
	    <if test="params.deptId != null and params.deptId != ''">
			and per.dept_id = #{params.deptId} 
		</if>
		<if test="params.deptIds != null and params.deptIds != ''">
			and FIND_IN_SET (per.dept_id ,#{params.deptIds})
		</if>
		<if test="params.checkStatus != null and params.checkStatus != ''">
			and c.`status` = #{params.checkStatus}
		</if>
		<if test="params.id != null and params.id != ''">
			and c.check_num like concat('%', #{params.id}, '%')
		</if>
		<if test="params.checkTitle != null and params.checkTitle != ''">
			and c.check_title like concat('%', #{params.checkTitle}, '%')
		</if>
		<if test="params.checkedDate != null and params.checkedDate != ''">
			and DATEDIFF(DATE_FORMAT(cd.checked_date,'%Y-%m-%d'),#{params.checkedDate})=0
		</if>
		<if test="params.checkZzfryname != null and params.checkZzfryname != ''">
			 and per.name like concat('%', #{params.checkZzfryname}, '%')
		</if>
	</where>
</select>

<select id="checkList" resultType="com.orhonit.ole.enforce.dto.CheckDailyDTO">
	SELECT  
	c.id AS id, 
	c.person_id AS personId,
	c.check_title AS checkTitle, 
	c.checked_date AS checkedDate,
	c.check_mode AS checkMode,
	c.check_mode_id AS checkModeId,
	sd2.enum_desc AS checkObjectType,
	per.name AS checkZzfryname,
	per1.name AS checkFzfryname,
	c.check_num AS checkNum,
	sd3.enum_desc AS status
	FROM ole_ef_check_daily c
	LEFT JOIN ole_base_dept_person per ON per.ID= c.person_id
	LEFT JOIN ole_base_dept_person per1 ON per1.ID= c.assist_person_id
	LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = c.check_object_type and sd2.type_value = #{params.objectType}
	LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = c.`status` and sd3.type_value = #{params.typeValue}

	<where> 
	 	<if test="params.personId != null and params.personId != ''">
			and per.id = #{params.personId} 
		</if>
	    <if test="params.deptId != null and params.deptId != ''">
			and per.dept_id = #{params.deptId} 
		</if>
		<if test="params.deptIds != null and params.deptIds != ''">
			and FIND_IN_SET (per.dept_id ,#{params.deptIds})
		</if>
		<if test="params.checkStatus != null and params.checkStatus != ''">
			and c.`status` = #{params.checkStatus}
		</if>
		<if test="params.id != null and params.id != ''">
			and c.check_num like concat('%', #{params.id}, '%')
		</if>
		<if test="params.checkTitle != null and params.checkTitle != ''">
			and c.check_title like concat('%', #{params.checkTitle}, '%')
		</if>
		<if test="params.checkedDate != null and params.checkedDate != ''">
			and DATEDIFF(DATE_FORMAT(cd.checked_date,'%Y-%m-%d'),#{params.checkedDate})=0
		</if>
		<if test="params.checkZzfryname != null and params.checkZzfryname != ''">
			 and per.name like concat('%', #{params.checkZzfryname}, '%')
		</if>
	</where>
   order by c.create_date desc
   <if test="params.start != null and params.length !=null">
	 limit #{start}, #{length};
   </if>
</select>

<select id="checkListApp" resultType="com.orhonit.ole.enforce.dto.CheckDailyDTO">
	SELECT  
	c.id AS id, 
	c.person_id AS personId,
	c.check_title AS checkTitle, 
	c.checked_date AS checkedDate,
	c.check_mode AS checkMode,
	c.check_mode_id AS checkModeId,
	sd2.enum_desc AS checkObjectType,
	per.name AS checkZzfryname,
	per1.name AS checkFzfryname,
	c.check_num AS checkNum,
	sd3.enum_desc AS status
	FROM ole_ef_check_daily c
	LEFT JOIN ole_base_dept_person per ON per.ID= c.person_id
	LEFT JOIN ole_base_dept_person per1 ON per1.ID= c.assist_person_id
	LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = c.check_object_type and sd2.type_value = #{params.objectType}
	LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = c.`status` and sd3.type_value = #{params.typeValue}

	<where> 
	 	<if test="params.personId != null and params.personId != ''">
			and per.id = #{params.personId} 
		</if>
	    <if test="params.deptId != null and params.deptId != ''">
			and per.dept_id = #{params.deptId} 
		</if>
		<if test="params.deptIds != null and params.deptIds != ''">
			and FIND_IN_SET (per.dept_id ,#{params.deptIds})
		</if>
		<if test="params.checkStatus != null and params.checkStatus != ''">
			and c.`status` = #{params.checkStatus}
		</if>
		<if test="params.id != null and params.id != ''">
			and c.check_num like concat('%', #{params.id}, '%')
		</if>
		<if test="params.checkTitle != null and params.checkTitle != ''">
			and c.check_title like concat('%', #{params.checkTitle}, '%')
		</if>
		<if test="params.checkedDate != null and params.checkedDate != ''">
			and DATEDIFF(DATE_FORMAT(cd.checked_date,'%Y-%m-%d'),#{params.checkedDate})=0
		</if>
		<if test="params.checkZzfryname != null and params.checkZzfryname != ''">
			 and per.name like concat('%', #{params.checkZzfryname}, '%')
		</if>
	</where>
   order by c.create_date desc
   <if test="params.currentPage != null and params.pageSize !=null">
	 limit #{params.currentPage}, #{params.pageSize};
   </if>
</select>

<select id="getCheckDetailInfo" resultType="com.orhonit.ole.enforce.dto.CheckDailyDTO">
SELECT  
cd.id AS checkId, 
cd.check_title AS checkTitle, 
cd.person_id AS personId,
cd.assist_person_id AS assistPersonId,
cd.checked_user_name AS checkedUserName,
cd.checked_user_id AS checkedUserId,
cd.unit_name AS unitName,
cd.regist_num AS registNum,
cd.legal_person AS legalPerson,
cd.checked_date AS checkedDate,
cd.check_mode AS checkMode,
cd.check_mode_id AS checkModeId,
cd.road_name AS roadName,
sd2.enum_desc AS checkObjectType,
per.name AS checkZzfryname,
per1.name AS checkFzfryname,
cd.check_num AS checkNum,
cd.check_situation AS checkSituation,
sd3.enum_desc AS status
FROM ole_ef_check_daily cd 
LEFT JOIN ole_base_dept_person per ON per.ID= cd.person_id
LEFT JOIN ole_base_dept_person per1 ON per1.ID= cd.assist_person_id
LEFT JOIN ole_sys_dict sd2 ON sd2.enum_value = cd.check_object_type AND sd2.type_value = #{params.checkObjectType}
LEFT JOIN ole_sys_dict sd3 ON sd3.enum_value = cd.`status`  AND sd3.type_value = #{params.status}
WHERE cd.id =#{checkId}; 
</select>

<select id="findOne" resultType="com.orhonit.ole.enforce.dto.CheckDailyDTO">
SELECT  
cd.id AS id, 
cd.check_id AS checkId, 
cd.check_title AS checkTitle, 
cd.person_id AS personId,
cd.assist_person_id AS assistPersonId,
cd.checked_user_name AS checkedUserName,
cd.checked_user_id AS checkedUserId,
cd.checked_date AS checkedDate,
cd.unit_name AS unitName,
cd.regist_num AS registNum,
cd.legal_person AS legalPerson,
cd.check_mode AS checkMode,
cd.check_mode_id AS checkModeId,
cd.road_name AS roadName,
cd.check_object_type AS checkObjectType,
per.name AS checkZzfryname,
per1.name AS checkFzfryname,
cd.check_situation AS checkSituation,
cd.status AS status
FROM ole_ef_check_daily cd 
LEFT JOIN ole_base_dept_person per ON per.ID= cd.person_id
LEFT JOIN ole_base_dept_person per1 ON per1.ID= cd.assist_person_id
WHERE cd.id =#{id}; 
</select>

<select id="findCheckDoc" resultType="com.orhonit.ole.enforce.dto.CheckDocDTO">
		SELECT 
		cd.id AS checkId, 
		cd.check_title AS checkTitle, 
		cd.check_num AS checkNum, 
		edc.id AS docContentId, 
		edt.name AS templateName , 
		edt.id AS templateId,
		osd.`enum_desc` AS checkStatus
		FROM  ole_ef_doc_content edc 
		LEFT JOIN ole_ef_check_daily cd  ON edc.case_id = cd.id 
		LEFT JOIN ole_ef_doc_template edt ON edt.id = edc.template_id 
		LEFT JOIN ole_sys_dict osd ON osd.`enum_value` = edc.`flow_status` AND osd.`type_value` = '1502'
		WHERE cd.id = #{checkId}  order by  edc.create_date desc;
</select>
	
<select id="findCheckDailyList" resultType="com.orhonit.ole.enforce.dto.api.ApiCaseListDTO">
		SELECT  ecd.check_num as caseNum,
			    ecd.check_title as caseName,
			    ecd.checked_date as caseTime,
			    SDCS.ENUM_DESC AS caseStatus,
			    ecd.road_name as caseAddress,
			    dp.name as caseFzfryname,
			    dp1.name as caseZzfryname
		FROM ole_ef_check_daily ecd
		LEFT JOIN OLE_SYS_DICT SDCS ON SDCS.TYPE_VALUE = '1502' AND SDCS.ENUM_VALUE = ECD.STATUS
		LEFT JOIN ole_base_dept_person dp ON dp.id=ecd.assist_person_id
		LEFT JOIN ole_base_dept_person dp1 ON dp1.id=ecd.person_id
		<where>
			  	ecd.dept_id = #{params.deptId}
			  	and (ecd.person_id = #{params.personId} 
			  		or ecd.assist_person_id= #{params.personId})
			<if test="params.status != null and params.status != ''">
				AND ecd.status = #{params.status}
			</if>
			<if test="params.checkTitle != null and params.checkTitle != ''">
				AND ecd.check_title like concat('%', #{params.checkTitle}, '%')
			</if>	
			<if test="params.queryDate != null and params.queryDate != '' and params.queryDate == 1 ">
				AND  date(ecd.create_date) = curdate()
			</if>
			<if test="params.queryDate != null and params.queryDate != '' and params.queryDate == 2 ">
				AND  date_sub(curdate(), INTERVAL 7 DAY) &lt;= date(ecd.create_date)		
			</if>
			<if test="params.queryDate != null and params.queryDate != '' and params.queryDate == 3 ">
				AND  date_sub(curdate(), INTERVAL 30 DAY) &lt;= date(ecd.create_date)			
			</if>
			<if test="params.queryDate != null and params.queryDate != '' and params.queryDate == 4 ">
				AND  date_sub(curdate(), INTERVAL 180 DAY) &lt;= date(ecd.create_date)			
			</if>
			<if test="params.queryDate != null and params.queryDate != '' and params.queryDate == 5  ">
				AND  date_sub(curdate(), INTERVAL 365 DAY) &lt;= date(ecd.create_date)	
			</if>
			ORDER BY ecd.create_date DESC	
			<if test="params.startNo != null and params.endNo != null">
				LIMIT #{params.startNo},#{params.endNo}
			</if>
		</where>
		;
</select>

<select id="findCaseInfo" resultType="com.orhonit.ole.enforce.dto.api.ApiDailyCheckDTO">
	SELECT
		  ECD.ID                AS id,
		  bd.name				AS	deptId,
		  ECD.CHECK_NUM         AS checkNum,
		  ECD.CHECK_TITLE       AS checkTitle,
		  ECD.CHECK_MODE     	AS checkMode,
		  ECD.CHECK_MODE_ID     AS checkModeId,
		  API.NAME              AS sistPersonName,
		  PI.NAME               AS personName,
		  ECD.ROAD_NAME         AS roadName,
		  ECD.CHECKED_DATE      AS checkedDate,
		  SDCS.ENUM_DESC        AS checkStatus,
		  ECD.CHECK_SITUATION   AS checkSituation,
		  ECD.CHECK_OBJECT_TYPE AS checkObjectType,
		  ECD.CHECKED_USER_NAME AS checkedUserName,
		  ECD.CHECKED_USER_ID   AS checkedUserId,
		  ECD.UNIT_NAME         AS unitName,
		  ECD.REGIST_NUM        AS registNum,
		  ECD.LEGAL_PERSON      AS legalPerson,
		  ECD.LNG               AS lng,
		  ECD.LAT               AS lat
		FROM OLE_EF_CHECK_DAILY ECD
		  LEFT JOIN OLE_BASE_DEPT_PERSON API
		    ON API.ID = ECD.ASSIST_PERSON_ID
		  LEFT JOIN OLE_BASE_DEPT_PERSON PI
		    ON PI.ID = ECD.PERSON_ID
		  LEFT JOIN OLE_SYS_DICT SDCS
		    ON SDCS.TYPE_VALUE = '1502'
		      AND SDCS.ENUM_VALUE = ECD.STATUS 
		  LEFT JOIN ole_base_dept bd 
		  	ON bd.id=ECD.dept_id
		<where>
				1=1
		
			<if test="params.caseNum != null and params.caseNum != ''">
				AND ECD.check_num = #{params.caseNum}
			</if>	
			
		</where>
		;
</select>

<select id="getCaseSourceCheck" resultType="com.orhonit.ole.enforce.dto.CheckDailyDTO">
	SELECT  
		cd.id AS id, 
		cd.check_title AS checkTitle
	FROM ole_ef_check_daily cd 
<where>
    <if test="deptId != null and deptId != ''">
		and cd.dept_id = #{deptId}
	</if>
	<if test="isRelate != null">
		and cd.is_relate = #{isRelate}
	</if>
	
	<if test="caseAccept != null">
		and cd.case_accept = #{caseAccept} 
	</if>
</where>

</select>

	<select id="needDealCount" resultType="com.orhonit.ole.enforce.dto.api.ApiCountDTO">
		SELECT
			count(*) as count
		FROM
			ACT_RU_TASK
		WHERE
			ASSIGNEE_ = #{id}
		AND PROC_DEF_ID_ LIKE 'dayCheck%'
	</select>
	
	<select id="caseCountByStatus" resultType="com.orhonit.ole.enforce.dto.api.ApiCountDTO">
		SELECT
			sd.enum_desc as statusName,
			count(ec.id) as count
		FROM ole_ef_check_daily ec
		LEFT JOIN ole_sys_dict sd on ec.status = sd.enum_value and sd.type_value = '1502'
		<where>
			1=1
			<if test="params.status != null and params.status != ''">
				AND ec.status = #{params.status}
			</if>
			<if test="params.deptId != null and params.deptId != ''">
				AND ec.dept_id = #{params.deptId}
			</if>
			<if test="params.coordinator != null and params.coordinator != ''">
				AND ec.person_id = #{params.coordinator}
			</if>
			<if test="params.personId != null and params.personId != ''">
				AND (ec.person_id = #{params.personId} 
				or ec.assist_person_id = #{params.personId})
			</if>
		</where>			
	</select>

	<select id="findByCheckNum" resultType="com.orhonit.ole.enforce.entity.CheckDailyEntity">
		SELECT 
			ec.id as id,
			ec.check_title as checkTitle,
			sd.enum_desc as caseStatus,
			ec.status as status,
			ec.person_id as personId
		FROM ole_ef_check_daily ec 
		LEFT JOIN ole_sys_dict sd ON sd.enum_value = ec.status
		AND sd.type_value = '1502'
		<where>
			ec.check_num=#{checkNum}
		</where> 
	
	</select>

</mapper>