<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orhonit.ole.report.dao.check.CheckQualificationDao">


	<!-- 日常 -->
	<select id="getDayQualificationCount" resultType="com.orhonit.ole.report.dto.check.CheckQualificationDTO">
		SELECT
			a.name name,COUNT(c.case_num) count FROM ole_base_dept a
		LEFT JOIN 
			ole_ef_check_daily b ON a.id = b.dept_id
		LEFT JOIN 
			ole_ef_case_deal c  ON b.check_num = c.case_num AND c.deal_mode IN('104','108')
		<where>
			<if test="params.AreaName != '' and params.AreaName != null">
				a.name = #{params.AreaName}
			</if>
		</where>
		GROUP BY 
			a.name
	</select>

	<!-- 专项 -->
	<select id="getSpecialQualificationCount" resultType="com.orhonit.ole.report.dto.check.CheckQualificationDTO">
		SELECT 
			a.name name,COUNT(d.case_num) count
		FROM 
			ole_base_dept a
		LEFT JOIN 
			ole_ef_check_person b ON a.id = b.dept_id
		LEFT JOIN 
			ole_ef_check c ON b.check_id = c.id
		LEFT JOIN 
			ole_ef_case_deal d ON c.check_num = d.case_num AND d.deal_mode IN ('104','108')
		<where>
			<if test="params.AreaName != '' and params.AreaName != null">
				a.name = #{params.AreaName}
			</if>
		</where>
		GROUP BY 
			a.name
	</select>
	
	<select id="getDayCount" resultType="com.orhonit.ole.report.dto.check.CheckQualificationDTO">
		SELECT a.name name,COUNT(b.dept_id) count
		FROM ole_base_dept a
		LEFT JOIN ole_ef_check_daily b ON a.id = b.dept_id
		<where>
			<if test="params.AreaName != '' and params.AreaName != null">
				a.name = #{params.AreaName}
			</if>
		</where>
		GROUP BY a.name
	</select>
	
	<select id="getSpecialCount" resultType="com.orhonit.ole.report.dto.check.CheckQualificationDTO">
		SELECT obd.name name,COUNT(oec.create_date) count
		FROM ole_base_dept obd
		LEFT JOIN ole_ef_check_person oecp ON obd.id = oecp.dept_id
		LEFT JOIN ole_ef_check oec ON oecp.check_id = oec.id
		<where>
			<if test="params.AreaName != '' and params.AreaName != null">
				obd.name = #{params.AreaName}
			</if>
		</where>
		GROUP BY obd.name
	</select>
</mapper>