<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orhonit.ole.report.dao.cases.ReportCaseWranDao">

	<!-- 统计某种状态案件的数量 -->
	<select id="findCaseCountByCaseStatus" resultType="com.orhonit.ole.report.dto.cases.CaseWranDTO">
		SELECT b.enum_desc  AS 'name',COUNT(DISTINCT a.record_code) AS 'value'
		FROM ole_warn_info a
		LEFT JOIN ole_sys_dict b ON a.type = b.enum_value AND b.type_value = '2020'
		WHERE b.enum_desc != "" 
			<if test="num != null and num != ''">
				and a.type = #{num}
			</if>
		GROUP BY a.type
	</select>

	<!-- 统计案件总数 -->
	<select id="findCaseCount" resultType="com.orhonit.ole.report.dto.cases.CaseWranDTO">
		SELECT oec.`case_name`AS 'name',COUNT(*) AS 'value'
		FROM ole_ef_case oec
	</select>
	
	<!-- 统计各类异常案件的总数量 -->
	<select id="findCaseWranCount" resultType="com.orhonit.ole.report.dto.cases.CaseWranDTO">
		SELECT 
			b.enum_desc  AS 'name',
			COUNT(DISTINCT owi.id) AS 'value'
		FROM ole_warn_info owi
		LEFT JOIN ole_warn_person owp ON owp.warn_id = owi.id
		LEFT JOIN ole_sys_dict b ON owi.type = b.enum_value AND b.type_value = '2020'
		<where>
			b.enum_desc != "" 
			<if test="deptIds != null and deptIds != ''">
				and FIND_IN_SET(owp.dept_id,#{params.deptIds})
			</if>
		</where>
		GROUP BY owi.type
	</select>
	
	<!-- 按年获取预警统计信息 -->
	<select id="getDeptCaseWarn" resultType="Map">
		SELECT 
			COUNT(DISTINCT owi.id) as count,
			YEAR(owi.CREATE_DATE) as year,
			obd.name AS deptName,
			owp.dept_id AS deptId
		FROM ole_warn_info owi
		LEFT JOIN ole_warn_person owp ON owp.warn_id = owi.id
		LEFT JOIN ole_base_dept obd ON obd.id = owp.dept_id
		GROUP BY owp.dept_id,YEAR(owi.CREATE_DATE)
	</select>
</mapper>